/* Full container styling */

.App {

  width: 375px;
  margin: 40px auto;
  border: 3px solid #000000;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: #f7f7f7;

}

/* Header Styling */

.Header {

  padding: 12px;
  text-align: center;

}

.Header h1 {

  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #000000;

}

/* Search Bar Styling */

.SearchBar input {

  width: 95%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 10px;

}

/* Employee List & Employee List Item Styling */

.EmployeeList {

  padding: 8px 12px;
  background-color: #ffffff;

}

.EmployeeListItem {

  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 8px;

}

.EmployeeAvatar {

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dddddd;
  margin-right: 12px;
  flex-shrink: 0;

}

.EmployeeName {

margin: 0;
font-weight: bold;
font-size: 18px;
color: #000000;
text-align: left;

}

.EmployeeTitle {

  margin: 0;
  font-size: 14px;
  color: #737373;
  text-align: left;
  
}